.rows {
  display: flex;
  width: 100%;
}

.columns1 {
  float: left;
  flex: 50%;
  background-color: rgb(236, 102, 24);
  height: 100vh;
}
.columns2 {
  float: left;
  flex: 50%;
  background-color: white;
  height: 100vh;
  color:gray;
  font-weight: bold;
}
/* Clear floats after the columns */

.headings{
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.inputfield{
  display: flex;
  margin-left: 130px;
  align-items: center;
  border-radius: 5px;
}

.avatars{
  margin-left: 130px;
  display: flex;
  flex-direction: row;
}

.choose{
  margin-left:130px;
}


.box{
  height: 100px;
  width: 100px;
  margin-top: 30px;
  justify-content: space-around;
  background-color: gray;
  margin-right: 20px;
}